<a-entity id="Lobby">
  //ambient light
  <a-light id="ambient" type="ambient" light="color: #ffffff; intensity: 3.2">
  </a-light>

  <a-light
    id="point"
    type="point"
    light="castShadow:true; shadowBias: -0.001"
    position="0 5 -2"
    intensity="1"
    distance="50"
    decay="0"
  >
  </a-light>

  <!-- Large reflective floor -->
  <a-plane
    position="0 0 0"
    rotation="-90 0 0"
    width="50"
    height="50"
    color="#000000"
    shadow="cast: false; receive: true"
    material="shader: standard; roughness: 1; metalness: .1; side: double"
  ></a-plane>

  //add cc-logo image
  <a-image
    id="cc-logo"
    src="#cc-icon"
    position="0 2 -5"
    scale="1.5 1.5 1.5"
    material="shader: standard; transparent: true; opacity: 0.8; side: double; alphaTest: 0.5"
    shadow="cast: true; receive: false"
    animation="property: rotation; to: 0 360 0; loop: true; dur: 10000"
  >
  </a-image>

  //sky
  <a-sky src="#Lobby-Sky" rotation="0 0 0"></a-sky>

  //MainMenu
  <a-entity
    id="projectMenu"
    menu
    position="0 1.5 -5"
    rotation="0 180 0"
    layout="type: circle; radius: 7.5; plane: xz; angle: 90"
  >
    <a-entity
      id="fsngArea"
      project-area="label: Focus-Stem Next-Gen; 
                    icon: #FSNG-Icon-360; 
                    target: focusStem; 
                    portalScale: 1.5 2.85 1"
      position="3 0 -5"
      rotation="0 0 0"
      class="template-button"
    >
    </a-entity>
    <a-entity
      id="fsngArea"
      project-area="label: Focus-Stem Next-Gen; 
                    icon: #FSNG-Icon-360; 
                    target: focusStem; 
                    portalScale: 1.5 2.85 1"
      position="3 0 -5"
      rotation="0 0 0"
      class="template-button"
    >
    </a-entity>
    <a-entity
      id="fsngArea"
      project-area="label: Focus-Stem Next-Gen; 
                    icon: #FSNG-Icon-360; 
                    target: focusStem; 
                    portalScale: 1.5 2.85 1"
      position="3 0 -5"
      rotation="0 0 0"
      class="template-button"
    >
    </a-entity>
  </a-entity>
</a-entity>
