<a-entity id="lighting">
    <a-entity id="WA-Dir" light="type: directional; color: #EEE; intensity: 0" position="1.25636 2.97843 1.70197"></a-entity>
    <a-entity id="WA-Ambient" light="type: ambient; color: #CCC; intensity: 0"></a-entity>  
</a-entity>
    <a-entity id="WellAware-Env" position="0 0 0" environment="ground: flat; groundTexture: checkerboard; dressing: cubes; lighting: point; skyType: gradient; skyColor: #ffffff; horizonColor: #3d3d3d; lightPosition: -2.74 4.72 0.47; grid: crosses; preset: default; dressingColor: #89B6D4; dressingOnPlayArea: 0; dressingScale: 4.02; dressingVariance: 3.54 0.89 1.37; flatShading: false; shadow: true" environment></a-entity>
    <a-entity animation-mixer position="0, 0, -1" gltf-model="#WellAware"></a-entity>
